---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$head-font-family: 'PT Serif', Georgia, serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: 50px;
}

.posts-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 20px;
  }
}

.site-header {
  margin-bottom: 40px;
}

.site-header__title a {
  color: $text-color;
  font-weight: bold;
}

.line-numbers > a,
.line-numbers > strong > a {
  color: #ddd;
  padding-right: 20px;
}

.post__title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 5px;
}

.post__date {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
}
